.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.brand__text {
    color: transparent;
    background: linear-gradient(90deg, #892CDC, #BC6FF1);
    -webkit-background-clip: text;
    font-size: 32px;
    font-weight: 900;
}
.btns__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.btn {
    color: #EEEEEE;
    text-decoration: none;
    font-weight: 600;
    border-radius: 5px;
    padding: 11px 15px;
}

.btn__primary {
    background-color: #892CDC;
}
.btn__secondary {
    background-color: #BC6FF1;
}

@media screen and (max-width: 500px) {
    .brand__text {
        font-size: 28px;
    }

    .btn {
        font-size: 12px;
        padding: 8px 12px;
    }
}